.thumbnail-resume-offer {
  line-height: 160%;
  border: 1px solid #d6ddeb;
  padding: 24px;
  width: 274px;
  background-color: #fff;

  h4 {
    font-weight: 18px;
    font-weight: 600;
  }

  .period {
    color: #515b6f;
  }

  .description {
    color: #7c8493;
    margin: 16px 0;
  }

  .tags {
    gap: 8px !important;
  }
}
