.thumbnail-resume-offer {
    line-height: 160%;
    border: 1px solid #D6DDEB;
    padding: 24px;
    width: 274px;
    background-color: #fff;

    h4 {
        font-weight: 18px;
        font-weight: 600;
    }

    .period {
        color: #515B6F;
    }

    .description {
        color: #7C8493;
        margin: 16px 0;
    }

    .tags {
        gap: 8px !important;
    }
}