nav {
<<<<<<< HEAD
  .menu {
    gap: 2.2em;

    a {
      padding: 28px 0;

      &.active {
        border-bottom: 2px solid red;
      }
      &:hover {
        border-bottom: 2px solid red;
      }
    }
  }
  .account {
    gap: 1em;
=======
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .navbar-list,
  .account {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .separator {
    height: 2.5rem;
    width: 0.75px;
    background-color: #ccc;
>>>>>>> ba460a5 (prettier)
  }
}
