nav {

  .logo p {
    font-size: 24px;
  }

  .menu {
    gap: 2.2em;

    a {
      padding: 28px 0;
      border-bottom: 2px solid transparent;

      &.active {
        border-bottom: 2px solid var(--color-primary);
      }
      &:hover {
        border-bottom: 2px solid var(--color-primary);
      }
    }
  }
  .account {
    gap: 1em;
  }
}
