.navbar-item{
    text-decoration: none;
    color: #333;
    position: relative;
    transition: color 0.3s;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
        color: #0275d8;
    }

    &.active::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.25rem;
        position: absolute;
        background-color: #0275d8;
        margin-top: 0.75rem;
    }
}

.btn-sign {
    padding: 0.75rem 1.5rem;

    &.sign-in {
        color: #0275d8;
    }

    &.register {
        background-color: #0275d8;
        color: #fff;
    }
}
