.admin-candidate {
    .head-table {
        margin: 16px 0;
        border: 1px solid #d6ddeb;
        & > .d-flex {
            border: 0px solid transparent !important;
        }
    }
    .filter {
        border: 0px solid transparent !important;
    }

    section {
        border: 0px solid transparent !important;
    }
    .row {
        border-left: 1px solid #d6ddeb;
        border-right: 1px solid #d6ddeb;

        &:first-child {
            border-top: 1px solid #d6ddeb;
        }
    }
}