.homepage {
  h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 48px;
    & span {
      color: #26a4ff;
    }
  }

  .landing-page {
    background-color: #f8f8fd;
    background-image: url('../../../public/img/background-landing-page.png');
    background-position: 99% 92%;
    background-repeat: no-repeat;
    padding-top: 52px;

    & .container {
      & > .d-flex {
        gap: 16px;
      }
    }

    span {
      color: #26a4ff;
    }

    strong {
      font-weight: bold;
    }

    p {
      font-size: 20px;
      line-height: 160%;

      &.landing-scape {
        font-size: 72px;
        font-weight: bold;
        line-height: 110%;
      }
    }

    p:nth-child(2) {
      margin: 23px 0;
    }
  }
  .companyOffer {
    padding-bottom: 72px;

    & > .d-flex {
      gap: 32px;
    }

    .all-offer {
      font-weight: 600;
      gap: 16px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .apply-student {
    background-color: #f8f8fd;
    padding: 72px 0 60px 0;

    & .wrap {
      gap: 32px;
    }
  }

  .account-creation {
    background-color: #4640de;
    color: white;
    margin: 72px 0;

    & > .d-flex {
      padding: 70px 72px 0 72px;

      & > div:first-child {
        margin-top: 24px;
      }

      p:first-child {
        font-size: 36px;
        font-weight: 600;
      }

      p:nth-child(2) {
        margin: 24px 0 36px 0;
      }

      a {
        background-color: #fff;
        color: #4640de;
      }
    }
  }
}
