.homepage {
  .landing-page{ 
    background-color: #F8F8FD;
    background-image: url('../../../public/img/background-landing-page.png');
    background-position: 99% 92%;
    background-repeat: no-repeat;
    padding-top: 52px;

    & .container{
      & > .d-flex {
        gap: 16px;
      }
    }

    span {
      color: #26A4FF;
    }

    .description {
      width: 46%;
    }

    strong {
      font-weight: bold;
    }

    p {
      font-size: 20px;
      line-height: 160%;
    }

    p:nth-child(2) {
      margin: 23px 0;
    }

    h2 {
      font-size: 72px;
      font-weight: bold;
      line-height: 110%;
    }
  }
}