.homepage {
  h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 48px;
    & span {
      color: #26A4FF;
    }
  }

  .landing-page{ 
    background-color: #F8F8FD;
    background-image: url('../../../public/img/background-landing-page.png');
    background-position: 99% 92%;
    background-repeat: no-repeat;
    padding-top: 52px;

    & .container{
      & > .d-flex {
        gap: 16px;
      }
    }

    span {
      color: #26A4FF;
    }

    .description {
      width: 46%;
    }

    strong {
      font-weight: bold;
    }

    p {
      font-size: 20px;
      line-height: 160%;
      
      .className {
        font-size: 72px;
        font-weight: bold;
        line-height: 110%;
      }
    }

    p:nth-child(2) {
      margin: 23px 0;
    }
  }
  .companyOffer {
    padding-bottom: 72px;

    & > .d-flex {
      gap: 32px;
    }

    .all-offer {
      font-weight: 600;
      gap: 16px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  .apply-student {
    background-color: #F8F8FD;
    padding: 72px 124px 60px 124px;
    
    & > .wrap {
      gap: 32px;
    }
  }
}

