.company-admin {
    margin-top: 60px;

    .btn-creation {
        height: 60dvh;
    }

    input,
    select {
        width: 100%;
        border: 1px solid #d6ddeb;
    }

    select {
        padding: 1rem 2rem;
        background-color: inherit;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .identity-company,
    .more-information {
        > .d-flex {
            gap: 16px;
            margin-bottom: 20px;

            > .d-flex {
                width: 100%;
                gap: 8px;
            }
        }
    }

    .more-information > .d-flex:nth-child(2) {
        gap: 16px;
        > .d-flex {
            gap: 16px;
        }
    }
    .more-information h2 {
        margin-bottom: 44px;
    }
    
    form > .d-flex {
        gap: 32px;
    }
}