.registration {
  line-height: 160%;
  margin: 60px 0 200px 0;

  p {
    &.text-center {
      margin-bottom: 80px;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .justify-center {
    gap: 60px;
  }

  a {
    border: 1px solid #d6ddeb;
    padding: 20px;

    h3 {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }
}
