.apply-job {
    line-height: 160%;
    padding: 72px 0 106px 0;

    h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 24px;
    }

    span.line {
        height: 1px;
        width: 100%;
        background-color: #D6DDEB;
        display: block
    }

    input {
        padding: 12px 0 12px 16px;
        border: 1px solid #D6DDEB;

        &[type="submit"]{
            background-color: #4640DE;
            width: 100%;
            color: #fff;
            font-weight: bold;
            margin: 32px 0;
        }
    }

    textarea {
        width: 100%;
        height: 230px;
        padding: 16px 87px 16px 16px;
        border: 1px solid #D6DDEB;
    }
    .submit {
        width: 64%;

        .btn {
            width: 150px;
            margin-top: 32px;
            background-color: #fff;
            color: #25324B;
            border: 1px solid #25324B;
        }
    }
    .cgv a {
        color: #4640DE;
        text-decoration: underline;
    }
    
    select {
        background-color: #fff;
        border: 1px solid #D6DDEB;
    }

    .direction-column {
        width: 48%;

        &.website,
        &.linkedin,
        &.motivation,
        &.name-degree {
            width: 100%;
        }


        label {
            margin-bottom: 4px;
            font-weight: 600;
            color: #515B6F;

            span {
                color: #FF007A;
            }
        }
    }

    .skill {
        width: 31.6%;

        h3 {
            color: #4640DE;
            margin-bottom: 16px;
        }
        
        p {
            margin-bottom: 20px;
        }

        section {
            margin-bottom: 30px;
        }

        .direction-column {
            width: inherit;
        }

        label {
            padding: 16px 20px;
            border: 1px dashed #4640DE;
            background-color: #F8F8FD;
            gap: 16px;

            svg {
                color: #4640DE;
                width: 24px;
                height: 24px;
            }
        }
    }

    .description {
        width: 64%;

        & > .d-flex {
            margin-bottom: 32px;
        }

        & > .justify-start {
            gap: 52px;
        }

        h3 {
            margin-bottom: 32px;
        }

        .identity {
            gap: 25px;
        }

        input {
            width: 100%;

            &[type="checkbox"] {
                padding: 0px;
                width: 24px ;
            }
        }

        span {
            margin-bottom: 32px;
        }

        .situation {
            gap: 24px;

            select {
                padding: 12px 16px;
                width: 173px;
            }
        }

        .gender {
            width: 16%;

            & select {
                padding: 12px 16px;
            }
        }
    }
}
