.homepage .companies-forward {
  padding: 72px 0;
  width: 100%;

  h2 {
    margin: 0;
    font-size: 18px;
    color: black;
    margin-bottom: 32px;
  }

  &-img {
    margin: auto;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  }
}
