.companies-forward {
  padding: 1rem 2rem;
  width: 100%;

  h2 {
    margin: 0;
    font-size: 1rem;
    color: black;
  }

  &-img {
    margin: auto;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  }
}
