:root {
    --color-primary: #4640DE;
    --color-secondary: #26A4FF;
    --color-tertiary: #4E49DF;
    --background-color-footer: #4E49DF;
    --color-primary-footer: #A3A8B6;
    --color-footer-tertiary: #F5F5F5;
}