:root {
  --color-primary: #4640de;
  --color-primary-dark: #2e298cff;
  --color-secondary: #26a4ff;
  --color-tertiary: #4e49df;
  --color-primary-footer: #a3a8b6;
  --color-typo-white: #f5f5f5;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  color: #25324b;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.direction-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.turquoise {
  color: #26a4ff;
}

.btn {
  background-color: var(--color-primary);
  color: white;
  padding: 12px 24px;
  transition: backund-color 0.3s;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
}

.btn:hover {
  color: white;
  background-color: var(--color-primary-dark);
}

.btn-empty {
  background-color: transparent;
  color: var(--color-primary);
}

.container {
  width: 1192px;
  margin: 0 auto;
}

.logo {
  height: 36px;
}

.logo p {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 32px;
}

.logo {
  gap: 12px;
}

.type-offer,
.available-position {
  padding: 4px 12px;
  color: #4640de;
  background-color: #f8f8fd;
}

.tag-offer {
  gap: 8px;
}

.grey {
  background-color: #f8f8fd;
}

p.tag {
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 80px;
  line-height: 160%;
}

p.Marketing {
  background-color: rgba(235, 133, 51, 0.1);
  color: #ffb836;
}

p.Design {
  background-color: rgba(86, 205, 173, 0.1);
  color: #56cdad;
}

p.Finance {
  background-color: rgba(70, 64, 222, 0.1);
  color: #4640de;
}

p.Informatique {
  background-color: rgba(255, 101, 80, 0.1);
  color: #ff6550;
}

.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px 0 8px 0;
}

.progress-bar {
  height: 10px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.progress-bar.high {
  background-color: #56cdad;
}

.progress-bar.medium {
  background-color: #ff9900;
}

.progress-bar.low {
  background-color: #ff007a;
}
